notMNIST_large
notMNIST_small
notMNIST_small.mat
.idea
.vscode
.ipynb_checkpoints
notMNIST_large.tar.gz
notMNIST_small.tar.gz
not_mnist_dataset.h5
not_mnist_dataset1.h5
notMNIST.pickle
mnist_dir
not_mnist_dir
not_mnist_dataset_full_test.h5
not_mnist_dataset_full_train.h5